<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- Matomo -->
<script>
  var _paq = (window._paq = window._paq || []);
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(["trackPageView"]);
  _paq.push(["enableLinkTracking"]);
  (function () {
    var u = "//matomo.mlibia.xyz/";
    _paq.push(["setTrackerUrl", u + "matomo.php"]);
    _paq.push(["setSiteId", "2"]);
    var d = document,
      g = d.createElement("script"),
      s = d.getElementsByTagName("script")[0];
    g.async = true;
    g.src = u + "matomo.js";
    s.parentNode.insertBefore(g, s);
  })();
</script>
<!-- End Matomo Code -->

{{- $description := partialCached "data/description" . .RelPermalink -}} <meta
name='description' {{ printf "content=%q" $description | safeHTMLAttr }}> {{
with .Params.Keywords }}<meta name="keywords" content="{{ delimit . ", " }}">{{
end }} {{- $title := partial "data/title" . -}}
<title>{{ $title }}</title>

<link rel="canonical" href="{{ .Permalink }}" />

{{- partial "head/style.html" . -}} {{- partial "head/script.html" . -}} {{-
partial "head/opengraph/include.html" . -}} {{- range .AlternativeOutputFormats
-}}
<link
  rel="{{ .Rel }}"
  type="{{ .MediaType.Type }}"
  href="{{ .Permalink | safeURL }}"
/>
{{- end -}} {{ with .Site.Params.favicon }}
<link rel="shortcut icon" href="{{ . | relURL }}" />
{{ end }} {{- template "_internal/google_analytics.html" . -}} {{- partial
"head/custom.html" . -}}
